/*
GESTION DE STOCK
CSS FILE
BY ULYSSE VALDENAIRE
08/08/2021
*/
#container{
  height:100vh;
}

p, h1{
  color:white;
}



.container-fluid{
  padding:0;
}

.top{
  margin-bottom:10px;
}
input{
  margin:5px;
}

.nodisplay{
  display:none;
}

.display{
  display:inline;
}
.displayBock{
  display:block;
}

form{
  margin:auto;
}

#divProduct{
  margin:auto;
}

#products{
  margin-bottom:50px;
  padding-top:20px;
}

#options{
  padding-top:20px;
}

#price{
  color:red;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

footer{
  margin-top:50px;
}