/*
GESTION DE STOCK
CSS FILE
BY ULYSSE VALDENAIRE
08/08/2021
*/

body {
 color:white;
  margin:0;
  background:rgb(71, 67, 67);
}

#btnValider{
  margin-left:40px;
}


h1{
  background:rgb(71, 67, 67);
  color:white;
  padding:10px;
  margin-top:0;
}


h1,
h2 {
  text-align: center;
}

#container {
  margin: 20px;
  display: flex;
  width: 100%;
}

#products {
  width: 70%;
}

#options {
  width: 40%;
}

form {
  width: 25%;
}

#menu {
  width: 45%;
  margin: auto;
 background:rgb(71, 67, 67);
}

button {
  margin: 5px;
  background:black;
  border-radius:10px;
  border-color:grey;
  color:white;
  padding:4px;
}

input,
label {
  margin: 10px;
}

.divProduct {
  height: 80px;
  margin-left: 50px;
}

@media screen and (max-width: 500px) {
  #container {
    display: block;
    margin: 0;
  }
  #products {
    display: inline-block;
    width: 100%;
  }
  #options {
    width: 100%;
  }

  #menu {
    width: 70%;
  }
  #h1 {
    text-align: center;
  }

  form {
    margin: auto;
    width: 50%;
  }
}
